.box {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #f6f6f6;
	.nav {
		display: flex;
		background-color: $text-color-white;
		height: 60rpx;
		justify-content: space-between;
		padding: 0 20rpx;
		// margin: 20rpx 0;
		.left {
			display: flex;
			align-items: center;
			text {
				font-size: $font-size-lg;
			}
		}
		.right {
			background-color: $bg-color-grey;
			border-radius: 38rpx;
			display: flex;
			align-items: center;
			font-size: $font-size-sm;
			padding: 0 38rpx;
			color: $text-color-assist;

			.dinein,
			.takeout {
				position: relative;
				display: flex;
				align-items: center;
				&.active {
					padding: 14rpx 38rpx;
					color: #ffffff;
					background-color: $color-primary;
					border-radius: 38rpx;
				}
			}

			.takeout {
				margin-left: 20rpx;
				height: 100%;
				flex: 1;
				padding: 14rpx 0;
			}

			.dinein.active {
				margin-left: -38rpx;
			}

			.takeout.active {
				margin-right: -38rpx;
			}
		}
	}
	.u-tabs-box {
	}
	.home-swiper {
		flex: 1;
		.swiper-item {
			height: 100%;
		}
	}
}

.good {
	display: flex;
	align-items: center;
	margin-bottom: 30rpx;

	.image {
		width: 160rpx;
		height: 160rpx;
		margin-right: 20rpx;
		border-radius: 8rpx;
	}

	.right {
		flex: 1;
		height: 160rpx;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding-right: 14rpx;

		.name {
			font-size: $font-size-base;
			margin-bottom: 10rpx;
		}

		.tips {
			width: 67%;
			height: 40rpx;
			line-height: 40rpx;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: $font-size-sm;
			color: $text-color-assist;
			margin-bottom: 10rpx;
		}

		.price_and_action {
			width: 63%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.price {
				font-size: $font-size-base;
				font-weight: 600;
			}

			.btn-group {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;

				.btn {
					padding: 0 20rpx;
					box-sizing: border-box;
					font-size: $font-size-sm;
					height: 44rpx;
					line-height: 44rpx;

					&.property_btn {
						border-radius: 24rpx;
					}

					&.add_btn,
					&.reduce_btn {
						padding: 0;
						width: 44rpx;
						border-radius: 44rpx;
					}
				}

				.dot {
					position: absolute;
					background-color: #ffffff;
					border: 1px solid $color-primary;
					color: $color-primary;
					font-size: $font-size-sm;
					width: 36rpx;
					height: 36rpx;
					line-height: 36rpx;
					text-align: center;
					border-radius: 100%;
					right: -12rpx;
					top: -10rpx;
				}

				.number {
					width: 44rpx;
					height: 44rpx;
					line-height: 44rpx;
					text-align: center;
				}
			}
		}
	}
}
.modal-box {
	max-height: 90vh;
}

.good-detail-modal {
	// width: 100%;
	// height: 100%;
	// display: flex;
	// flex-direction: column;

	.cover {
		height: 320rpx;
		padding: 30rpx 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.image {
			width: 260rpx;
			height: 260rpx;
		}

		.btn-group {
			position: absolute;
			right: 10rpx;
			top: 30rpx;
			display: flex;
			align-items: center;
			justify-content: space-around;

			image {
				width: 80rpx;
				height: 80rpx;
			}
		}
	}

	.detail {
		width: 100%;
		min-height: 1vh;
		max-height: calc(90vh - 320rpx - 80rpx - 120rpx);

		.wrapper {
			width: 100%;
			height: 100%;
			overflow: hidden;
			
			.basic {
				padding: 0 20rpx 30rpx;
				display: flex;
				flex-direction: column;
				.name {
					font-size: $font-size-base;
					color: $text-color-base;
					margin-bottom: 10rpx;
				}
				.tips {
					font-size: $font-size-sm;
					color: $text-color-grey;
				}
			}
			
			.properties {
				width: 100%;
				border-top: 2rpx solid $bg-color-grey;
				padding: 10rpx 30rpx 0;
				display: flex;
				flex-direction: column;
				
				.property {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin-bottom: 30rpx;
					padding-bottom: -16rpx;
					
					.title {
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-bottom: 20rpx;
						
						.name {
							font-size: 26rpx;
							color: $text-color-base;
							margin-right: 20rpx;
						}
						
						.desc {
							flex: 1;
							font-size: $font-size-sm;
							color: $color-primary;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					
					.values {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						
						.value {
							border-radius: 8rpx;
							background-color: $bg-color-grey;
							padding: 16rpx 30rpx;
							font-size: 26rpx;
							color: $text-color-assist;
							margin-right: 16rpx;
							margin-bottom: 16rpx;
							
							&.default {
								background-color: $color-primary;
								color: $text-color-white;
							}
						}
					}
				}
			}
		}
	}
	
	.action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $bg-color-grey;
		height: 120rpx;
		padding: 0 26rpx;

		.left {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 20rpx;
			overflow: hidden;
			
			.price {
				font-size: $font-size-lg;
				color: $text-color-base;
			}

			.props {
				color: $text-color-assist;
				font-size: 24rpx;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.btn-group {
			display: flex;
			align-items: center;
			justify-content: space-around;

			.number {
				font-size: $font-size-base;
				width: 44rpx;
				height: 44rpx;
				line-height: 44rpx;
				text-align: center;
			}

			.btn {
				padding: 0;
				font-size: $font-size-base;
				width: 44rpx;
				height: 44rpx;
				line-height: 44rpx;
				border-radius: 100%;
			}
		}
	}

	.add-to-cart-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-primary;
		color: $text-color-white;
		font-size: $font-size-base;
		height: 80rpx;
		border-radius: 0 0 12rpx 12rpx;
	}
}
